<section [id]="section" class="container content-section">
    <div class="row">
        <div class="col-lg-6">
            <h2>{{type}}</h2>
            <img src="{{imageFileName}}" />
            <!--<h3>Name: {{name}}</h3> -->


            <ul>
              <li> Impossible Deadlines </li>
              <li> Scope Changes</li>
              <li> Lack of Stakeholder Engagement</li>
              <li> Resource deprivation</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h2>{{type}}</h2>
            <img src="{{imageFileName}}" />
            <!--<h3>Name: {{name}}</h3> -->


            <ul>
              <li> Benefit one </li>
              <li> Benefit two</li>
              <li> Benefit three </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h2>{{type}}</h2>
            <img src="{{imageFileName}}" />
            <!--<h3>Name: {{name}}</h3> -->


            <ul>
              <li> Benefit one </li>
              <li> Benefit two</li>
              <li> Benefit three </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h2>{{type}}</h2>
            <img src="{{imageFileName}}" />
            <!--<h3>Name: {{name}}</h3> -->


            <ul>
              <li> Benefit one </li>
              <li> Benefit two</li>
              <li> Benefit three </li>
            </ul>
        </div>
    </div>
</section>
